body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header {
    border-top: 2px solid #222;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}

.header-content {
    display: flex;
    flex-direction: row;
}

header h1, header .subtitle {
    margin: 0;
}

header .subtitle {
    font-size: .8em;
    display: inline;
    margin-left: 10px;
}

header nav ul, footer nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    gap:10px;
}

header nav ul li, footer nav ul li {
    list-style: none;
}

header nav ul li a, footer nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.footer-content{
    display: flex;
    flex-direction: column;
}

header nav ul li a:hover, footer nav ul li a:hover {
    background-color: #fff;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.text-container{
    font-size:  1.5em;
}

footer {
    border-top: 2px solid #222;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    bottom: 0;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}

.portfolioOne{
    display: flex;
    margin-top: 100px;
    padding-left: 100px;
    align-items: center;
    justify-content: center;
}

.text-portfolioOne{
    max-width: 600px;
    padding-left: 20px;
    padding-right: 100px;
}

.portfolioTwo{
    display: flex;
    margin-top: 100px;
    padding-left: 100px;
    padding-bottom: 100px;
    align-items: center;
    justify-content: center;
}

.text-portfolioTwo{
    max-width: 600px;
    padding-left: 20px;
    padding-right: 100px;
}

.portfolioThree{
    display: flex;
    margin-top: 100px;
    padding-left: 100px;
    align-items: center;
    justify-content: center;
}

.text-portfolioThree{
    max-width: 600px;
    padding-left: 20px;
    padding-right: 100px;
}

.image-container
{
    margin-left:  100px;
}

.name{
    font-weight: bold;
}
footer p {
    margin: 0;
}
